<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/state/css/markdown.css")
		link(rel="stylesheet", href="/state/css/eaves.css")
		link(rel="stylesheet", href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css")
		sctipt(src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js")
		script(src="/state/js/center.js")
		title Eaves
	body
		#nav-bar
			.select
				span.h3 EAVES
				//span &copy2016
				i#barBtn.fa.fa-bars.fa-3x(aria-hidden="true")
			.option
				.block Center
				.block Article
		block content