//	Front end needed:
//	1. Pages randered by server
//	2. Plugins model.

<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name = "viewport",content="width=device-width")
	link(rel="stylesheet", href="/static/eaves.css")
	title EAVES
body
	#main
		#showDomain
			include ./plugin/home
			include ./plugin/help
			include ./plugin/blog
		#inputDomain
			#selectBar.bar
				span.title EAVES
				span.info
					| &copy; Powered by eaves. 
			#terminalBar.bar
				span#userName NoLogin
				input#userInput
	script(src="/static/terminal.js")
