*{
	font-family: 'msyh';
	margin:0;
	padding: 0;
}

a{
	text-decoration: none;
}

i{
	text-align: center;
	color: #000;
	cursor: pointer;
}

.h3{
	font-size: 150%;
	font-weight: 600;
}




#nav-bar{
	position: fixed;
	bottom: 0;
	left: 0;
	bottom: -10vh;

	color:#ccc;

	width: 100vw;
	height: 20vh;
}

#nav-bar .select{
	height: 10vh;
	line-height: 10vh;
	border-top: 1px solid #ccc;
	color: #000
}

#nav-bar .select span{
	margin: 0 5vw;
}

#nav-bar .select i{
	line-height: 10vh;
	float: right;
	margin-right: 3vw;
}

#nav-bar .option{
	height: 10vh;
	background: #000;
	display: flex;
}

#nav-bar .option .block{
	flex:1;
	text-align: center;
	line-height: 10vh;

	cursor: pointer;
}


#center{
	height: 80vh;
	overflow-y: auto;
	padding: 2vh 5vw;
}

#center .block{
	padding-bottom: 2vh;
	border-bottom: 2px solid #eee;
	margin-bottom: 5vh;
}

#center .block .head{
	font-size: 280%;
	border-bottom: 1px solid #ccc;
}

#center .block .head .title{

}

#center .block .head .introduce{
	flex:1;
}

#center .block .introduce{
	padding: 5px 0;
	color: #9A9A9A;
	text-decoration: underline;
}

#center .block .content{
	white-space: normal;
	overflow-x: hidden;
	line-height: 30px;
}