*{
	font-family: 'msyh';
	letter-spacing: 0.1em;
	outline: none;
}
html,body{
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow: hidden;
}

#top{
	width: 100vw;
	height: 50vh;
	background: #ccc;
	opacity: 0.3;
		border-bottom: 1px solid #000;
}
#top span{
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5vw;
	letter-spacing: 1em;

}

#nav{
	width: 90vw;
	margin: 0 auto;
	position: relative;
	top: -75px;
	padding: 0 5vw;
	/* background: #000; */
}

#nav #nav-block{
	width: 150px;
	height: 150px;
	border: 1px solid #000;
	overflow: hidden;
}
#nav #nav-block #nav-list {
	position: relative;
}
#nav #nav-block #nav-list .block{
	height: 150px;
	background: #fff;
	text-align:center;
}
#nav #nav-block #nav-list .block:hover{
	cursor: pointer;
}

#head-bar{
	position: absolute;
	top: 20vw; 
}

#head-bar div{
	padding: 1vh 0;
	padding-left: 5vw;
	font-size: 140%;
	margin: 2vh 0;
	background: #89D79B;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	left: -5vw;
	color: #E9E9E9;
	text-align: center;
}


#contain{
	width: 90vw;
	height: 100vh;
	margin: 0 auto;
	overflow-y: auto;
}

#contain .block{
	width: 80vw;
	margin: 2vh 10vw;
	display: flex;
}

#contain .block .main{
	flex: 5;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 2vw;
	background: #eee;
}

#contain .block .space{
	flex: 1;
}
#contain .block .index{
	flex: 2;
	border-left: 1px solid #000;
}

#contain .block .main .title{
} 

#contain .block .index{
	
}

#contain .block .index .time{
	position: relative;
	bottom: 0;
}
#contain .block .index .author{
	position: relative;
	bottom: 0;
}

#blog-main{
	height: 90vh;
	margin: 5vh 0;
}
#blog-head{
	width: 90vw;
	height: 5vh;
	border-bottom: 2px solid #ccc;
	display: flex;
	overflow: hidden;
}

input.blog-head{
	border: none;
	font-size: 160%;
	font-weight: 600;
	flex: 1;
}