*{
	font-family: 'msyh';
	letter-spacing: 0.1em;
	outline: none;
}
html,body{
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow: hidden;
}
input{
	padding: 0;
}
.box{
	display: flex;
}
.box-flex-1{
	flex:1;
}
.box-flex-2{
	flex:2;
}
.box-flex-3{
	flex:3;
}
.box-flex-4{
	flex: 4;
}
.box-flex-5{
	flex: 5;
}


.row{
	padding: 10px 0;
}

.btn,.input{
	margin: 5px 10px;
}
.btn{
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 5px 10px;
	height: 2.5em;
}

.input{
	height: 1.5rem;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 5px 10px;
}

.left-margin{
	margin-left: 20px;
}


#top{
	width: 100vw;
	height: 50vh;
	background: #ccc;
	opacity: 0.3;
	border-bottom: 1px solid #000;
}
#top span{
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5vw;
	letter-spacing: 1em;
}

#nav{
	width: 90vw;
	margin: 0 auto;
	position: relative;
	top: -75px;
	padding: 0 5vw;
	/* background: #000; */
}

#nav #nav-block{
	width: 150px;
	height: 150px;
	border: 1px solid #000;
	overflow: hidden;
}
#nav #nav-block #nav-list {
	position: relative;
}
#nav #nav-block #nav-list .block{
	height: 150px;
	background: #fff;
	text-align:center;
}
#nav #nav-block #nav-list .block:hover{
	cursor: pointer;
}

#head-bar{
	position: absolute;
	top: 20vw; 
}

#head-bar div{
	padding: 1vh 0;
	padding-left: 5vw;
	font-size: 140%;
	margin: 2vh 0;
	background: #89D79B;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	left: -5vw;
	color: #E9E9E9;
	text-align: center;
}


#contain{
	width: 90vw;
	height: 100vh;
	margin: 0 auto;
	overflow-y: auto;
}

#contain .block{
	width: 80vw;
	margin: 2vh 10vw;
	display: flex;
}

#contain .block .main{
	flex: 5;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 2vw;
	background: #eee;
}

#contain .block .space{
	flex: 1;
}
#contain .block .index{
	flex: 2;
	border-left: 1px solid #000;
}

#contain .block .main .title{
} 

#contain .block .index{
	
}

#contain .block .index .time{
	position: relative;
	bottom: 0;
}
#contain .block .index .author{
	position: relative;
	bottom: 0;
}

#blog-title{
	font-size: 160%;
	padding: 5px 0;
	margin-top: 5vh;
	width: 99%;
	border: none;
	border-bottom: 2px solid #ccc;
}
#blog-write,#blog-show{
	width: 99%;
	height: 30vh;
	border: none;
}
#blog-write{
	border-bottom: 1px solid #ccc;
	resize: none;
}
#blog-opacity{
	width: 0px;
	height: 60vh;
	border: 1px solid #ccc;
}
#blog-opacity-btn{
	width: 50px;
	height: 15px;
	border-radius: 5px;
	background: #ccc;
	position: relative;
	top: 0;
	left: -25px;
	cursor: pointer;
}