*{
	color:#333;
	font-family:'msyh','Microsoft YaHei','微软雅黑';
	letter-spacing: 0.11em;
}
input{
	outline:none;
}
body{
	width:80vw;
    margin:0 auto;
}

.title{
	font-size:350%;
}
#terminal .body{}
#terminal .body .row{
	margin:1vh 0;
	padding-left:2vw;
	font-size:80%;
}
#terminal .input{
	width:80vw;
	margin:1vh 0;
	border-bottom:2px ridge #646464;
	font-size:140%;
	font-weight: 600;
	position: absolute;
	bottom:10vh;
}
#terminal .input .input-title{
	width:10vw;
}
#terminal .input #user-input{
	width:50vw;
	border:none;
	background: rgba(191, 189, 97, 0);
	color: #333;
	padding:1vh 1vw;
	font-size: 90%;
}
.text-logo{
	color: #39bf70;
}
.text-waring{
	color: #cc4c4b;
}
.text-unactivated{
	color: #a8a8a8;
}
.text-reminder{
	color: #9fa9ff;
}
