extends ../layout

block content
	#contain
		#blog-main
			#blog-head
				input.blog-head(placeholder="Title")
				.blog-head
					span
						select
							option aaa
							option bbb
					span
						input