extends ../layout

block content
	#contain
		.row
			input#blog-title(placeholder="Title")
		.row.box
			.box-flex-5
				select.btn
					option(value=0) 选择专栏
					option() Tec
				input.input(placeholder="添加关键字,以 ' , ' 分割")
			.box-flex-2
				button.btn.left-margin 保存
				button.btn.left-margin 发布
				button.btn.left-margin 删除
		.row.box
			.box-flex-5
				textarea#blog-write(placeholder="Editor here.")
				#blog-show
			.box-flex-1
				#blog-opacity.left-margin
					#blog-opacity-btn