extends ../layout

block content
	#contain
		.block
			.main
				h1.title
					| Here is the title
				.content
					| And here is the content
			.space
			.index
				.time
					| I'm the time line
				.author
					| I'm the author
				.tags
					