doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="/state/css/eaves.css")
	title Document
body
	#top
		span EAVES
	#nav
		.block aaa
	script.
		window.onload = function(){
			var dom = document.getElementById('nav');
			var h  =dom.offsetTop;
			dom.style.top = h-75+'px';
			console.log(h);
		}
	block content