extends ../layout
block content
	#center
		.block
			.head Here is Title
			.introduce 2015-15-20. Written by eaves.
			.content 　　还记得吗？废墟下谭千秋老师用生命为四个学生撑起的那片天空。还记得吗？生死关头那位年轻的母亲发自心底最趁势的爱的誓言：“宝贝，如果你能活下去，记得，妈妈爱你！”还记得吗？在强烈余震中依旧要返回废墟救人却被队友拉住的那位消防战士痛彻心扉的呼喊：“让我再去救一个吧！我还能再救一个！”