*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
}


#view{
	width: 70vw;
	margin: 0 auto;
}

#input{
	width:100vw;
	height: 10vh;
	position:absolute;
	top:90vh;
}

#input .row{
	width:70vw;
	margin: 0 auto;
	border-bottom: 1px solid #000;
	margin-top: 4vh;
}

#input .row label{
	font-size: 160%;
	margin-right: 20px;
}

#input .row #mainInput{
	width:30vw;
	border:none;
	font-size: 140%;
}
